---
title: Mozza - Product and Growth Agency
---


    <div class="wrapper-green">

	<div class="container">

	  	<div class="row">

			<div class="col-xs-12" id="hero">
		  		<div id="branding">
		  		  <p>Mozza</p>
		   		  <%= image_tag "mozzalogo.png" %>
		 		</div>
			</div>

		</div>

	</div>

</div>


<div class="wrapper-white">

	<div class="container">

	  	<div class="row">

			<div class="col-xs-12">
		  		<div id="description">
		  		  <p>We help promising mobile startups improve their product & growth strategy.</p>
		 		</div>
			</div>

		</div>

	</div>

</div>


<div class="wrapper-grey">

	<div class="container">
	  	<div class="row">


	    	<div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-0">
		  		<div class="card" id="audit">
		  		  <h1>Audit</h1>
		 		</div>
	    	</div>


	    	<div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-0">
		  		<div class="card" id="strategy">
		  		  <h1>Strategy</h1>
		 		</div>
	    	</div>


	    	<div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-0">
		  		<div class="card" id="experiments">
		  		  <h1>Experiments</h1>
		 		</div>
	    	</div>


	  	</div>
	</div>

</div>

