---
title: Mozza - Product and Growth Agency
---

<div class="wrapper-green">

	<div class="container">

	  	<div class="row">

			<div class="col-xs-12" id="hero">
		  		<div id="branding">
		  			<p>Mozza</p>
		  				<div id="logo">
		   		  			<%= image_tag "mozzalogo.png" %>
		   		  		</div>
		 		</div>
			</div>

		</div>

	</div>

</div>


<div class="wrapper-white">

	<div class="container">

	  	<div class="row">

			<div class="col-xs-12">
		  		<div id="description">
		  		  <p>We help promising mobile startups improve their product & growth strategy.</p>
		 		</div>
			</div>

		</div>

	</div>

</div>


<div class="wrapper-grey">

	<div class="container">
	  	<div class="row">

	  		<div class="col-xs-12">
		  		<div id="title">
		  		  <p>Our Plates</p>
		 		</div>
			</div>


	    	<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
		  		<div class="card" id="audit">
		  			<div class="card-title">Audit</div>
		  			<div class="card-description">We analyze your application and user behaviours to identify how retention & virality could be improved. We run user tests, crunch data and tap into our knowledge of the market leaders to provide advice as fresh as our mozzarella.</div>
		  			<button type="button" class="btn btn-primary">Get started</button>
		 		</div>
	    	</div>


	    	<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
		  		<div class="card" id="strategy">
		  			<div class="card-title">Strategy</div>
		  			<div class="card-description">Together, we design a plan to help you grow from core users in love with your product. From the priority UX/UI changes to the relevant growth tactics to the right analytics setup to make sure you track what matters.<br/><br/></div>
		  			<button type="button" class="btn btn-success">Get started</button>
		 		</div>
	    	</div>


	    	<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
		  		<div class="card" id="experiments">
		  		    <div class="card-title">Experiments</div>
		  		    <div class="card-description">We help you implement the right tools & culture within your company to focus on growth. And we run these experiments with you to get to the next level...<br/><br/><br/></div>
		  		    <button type="button" class="btn btn-info">Get started</button>
		 		</div>
	    	</div>


	  	</div>
	</div>

</div>


<div class="wrapper-blue">

	<div class="container">

	  	<div class="row">

			<div class="col-xs-12">
		  		<div id="title">
		  		  <p>Served recently</p>
		 		</div>
			</div>

			<div class="slideshare">
				<iframe src="//www.slideshare.net/slideshow/embed_code/key/9iHj7LBhspu0RG" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:0px solid #CCC; border-width:0px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> 
			</div>

		</div>

	</div>

</div>
